*
  margin 0 auto
  padding 0 
body
  background-color #e3e4e5
img 
  border-radius 10px
.img-row img
  width 400px
  height 400px
  overflow hidden
  margin 5px auto
  display block

.img-line
  height 250px
  width 100%
  display block
  background-color #e3e4e5
  border-radius 10px
  text-align  center
  line-height 250px
  background-color #c7c7c7

.img-flex 
  display flex
  justify-content center
  align-items center
  flex-wrap wrap
.img-flex img
  width 200px
  height 200px
  margin 10px 
  background-size 100% 100%
  overflow hidden


  


